@{
    ViewData["Title"] = "Greet Page";
}

<div class="text-center">
    <h1 class="display-4">Введите ваше имя</h1>
    <form method="get" action="/Greeting/Greet">
        <input type="text" name="name" placeholder="Enter your name" />
        <button type="submit">Greet</button>
    </form>
</div>
